# =================================================================================================
#
#	Starling Framework
#	Copyright 2011-2014 Gamua. All Rights Reserved.
#
#	This program is free software. You can redistribute and/or modify it
#	in accordance with the terms of the accompanying license agreement.
#
# =================================================================================================

# Build and Release Folders
bin-debug/
bin-release/
starling/doc/html/
tests/libs/

# Project property files
.settings/
.flexProperties
.FlexUnitSettings

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Gradle CI
.gradle/
build/

# Maven CI
target/

# OS X folders
.DS_Store

# FlashBuilder auto generated test runners
FlexUnitApplication.as
FlexUnitCompilerApplication.as
.actionScriptProperties
