# Build and Release Folders
bin-debug/
bin-release/
bin/
starling/doc/html/

# Project property files
.actionScriptProperties
.flexProperties
.settings/
.project
.FlexUnitSettings
.flexLibProperties

# OS X folders
.DS_Store
